* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Helvetica', 'Verdana', sans-serif;
    background-color: #f8f8f8;
    margin-left: 2em; 
	margin-top: 1em;
}


.abstract-banner {
    position: relative; 
    margin: 10px auto; 
    width: 100%; 
    height: 150px; 
    background-image: url('Abstract.jpg'); 
    background-size: cover; 
    background-position: center; 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 100%; /
}

.top-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #f4f4f4;
    width: 100%;
    box-sizing: border-box;
}

/* Media Query for mobile devices */
@media screen and (max-width: 768px) {
    .abstract-banner {
        height: 120px; 
    }

    .top-section {
        flex-direction: column; 
        align-items: flex-start; 
        padding: 15px;
    }
}


.headshot-container {
    flex: 0 0 auto; 
    margin-right: 2em; 
}

.contact-info {
    flex: 1; 
    text-align: left;
    color: #4A90E2; 
}

.contact-info h1 {
    font-size: 2rem;
    color: #5c5a5a;
    margin: 10px 0;
}

.logo {
    width: 250px;
    height: 200px;
}


.container p {
    margin-top: 10px;
}

.container a {
    color: #4A90E2;
    text-decoration: none;
    font-weight: bold;
}


.main {
    text-align: center;
    margin-bottom: 20px;
}


/* Navigation styles */
/* Styling for the nav-container */
.nav-container {
    background-color: #fff;
    display: flex;
    justify-content: center; 
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styling for the links */
.nav-container a {
    color: #4A90E2;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;  
    text-align: center; 
}

/* Hover effect */
.nav-container a:hover {
    background-color: #f1f1f1;
    border-radius: 5px;
}

/* Media Query for mobile devices */
@media screen and (max-width: 768px) {
    .nav-container {
        flex-direction: column;  
        align-items: center; 
    }

    .nav-container a {
        width: 100%; 
        padding: 15px 0; 
        font-size: 18px; 
        text-align: center; 
    }
}


.project-container {
    margin: 20px 0;
    background-color: rgba(255, 255, 255, 0.1); /* Transparent background */
    border-radius: 8px;
    overflow: hidden;
    transition: background-color 0.3s;
}



.project-link {
    text-decoration: none;
    color: #4A90E2;
    display: block;
    position: relative;
}

.nav-overlay {
    padding: 20px;
    transition: background-color 0.3s ease-in-out;
    text-align: center;
}

.project-link:hover .nav-overlay {
    background-color: rgba(0, 123, 255, 0.2);
}

.about-container {
    display: flex;
    align-items: flex-start; 
    gap: 20px; 
    flex-wrap: wrap; 
}

.image-container {
    flex-shrink: 5;
    margin-bottom: 15px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.about-text {
    flex-grow: 1;
    max-width: 1000px;
}


/* Resume section */
.resume-section {
    padding: 40px 20px;
    background-color: #fff;
    margin: 20px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}

.resume-section h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.resume-section p {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
}

.resume-section p:last-of-type {
    margin-bottom: 0;
}

.back-to-projects {
    font-size: 1.2rem;
    font-weight: bold;
    color: #0073e6;
    text-decoration: none;
    background-color: #fff;
    display: inline-block;;
    padding: 10px 0;
    border-radius: 5px;
    margin-bottom: 40px;
    border: 2px solid transparent; 
    text-align: center;
}

.back-to-projects:hover {
    background-color: #f1f1f1;
}

.nav-container a {
color: #4A90E2;
text-decoration: none;
padding: 10px 15px;
font-weight: bold;
text-transform: uppercase;
letter-spacing: 1px;
}

.nav-container a:hover {
background-color: #f1f1f1;
border-radius: 5px;
}

.back-to-projects i {
    margin-right: 8px; 
}

.spacing {
    margin: 20px 0;
}

.main {
    font-weight: bold;
    display: block; 
    margin-top: 1em;
    text-align: left; 
}

#education p {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #4A90E2;
}

.degree {
    font-weight: bold;
    display: block; 
    margin-top: 1em; 
    color: #4A90E2;
}

.school {
    font-weight: normal;
    display: block;
    margin-bottom: 0.3em;
}

.company {
    font-weight: bold;
    display: block; 
    color: #4A90E2;
    margin-top: 1em; 
    margin-bottom: 15px;
}

.description {
    display: block;
    margin-bottom: 0.3em;
    font-style: italic;
    font-size: 14px;
    margin-bottom: 15px;
}

.timeline-content p {
    font-style: italic;
    margin-top: 0.5em;
    color: #555; 
}

.resume-header {
    text-align: center;
}

.job {
    margin-bottom: 1.5em;
}
.job h2 {
    color: #333;
}
.job h3 {
    color: #555;
    font-weight: normal;
    margin-bottom: .6em;
    line-height: 2;
    margin: 20px 0;
    margin-bottom: 15px;
}

p {
    font-style: normal;
    font-weight: normal;
    margin-bottom: .6em;
    line-height: 2;
}

ul {
    font-style: normal;
    list-style-type: disc;
    margin-left: 30px; 
    padding-left: 0;
    margin-bottom: .6em;
    line-height: 6;
}

li {
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    margin-bottom: 0.5em; 
    line-height: 1.5; 
    color: #555;
}

/* Timeline Styles */
.timeline {
    border-left: 3px solid #4CAF50;
    padding-left: 20px;
    margin-left: 20px;
    position: relative;
}

.timeline-entry {
    margin-top: 1em;
	cursor: pointer;
    transition: all 0.3s ease-in-out; 
}

.timeline-dot {
    width: 10px;
    height: 10px;
    background-color: #4CAF50;
    border-radius: 50%;
    position: absolute;
    left: -6px;
    top: 0;
}

.timeline-content h3 

.timeline-content p {
    margin: 5px 0;
    color: #333; 
}

.timeline-content p {
    transition: all 0.3s ease-in-out;
}

.hidden {
    display: none;
}

.shown {
    display: block;
}

/* Section Styles */
.resume-section h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #4A90E2;
}

.tick-mark {
    color: rgb(8, 214, 8);
    font-weight: bold; 
    font-size: 1.4em; 
}